<!DOCTYPE html>
<html>
<head>
    <title>{{{title}}}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<header>
    <div class="centre-container">
        <nav>
            <h1>Get it done</h1>
            <img id="logo" src="images/list.svg">
            <a href="/">All lists</a>
        </nav>
    </div>
</header>
<body>
    {{{body}}}
</body>
<footer>
    <span>Icon made by Madebyoliver from www.flaticon.com</span>
</footer>
</html>