<div>
    <div class="centre-container">
        <div class="list">
            <div class="list-title">Christmas shopping</div>
            <div class="list-item">
                <span>chocolates for Jim</span>

            </div>
        </div>
    </div>
</div>